html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

h1, h3 {
    margin-block: 0px;
}

p{
    margin-block: 0px;
}

/* Container */

.headerContent, .cardBoxContent, .quoteBoxContent, .ctaContent, .footerContent{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Header */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 600;
    font-size: 24px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero img{
    width: 350px;
    height: 100%;
    background: grey;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}

.headerContent{
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: center;
    margin: auto;
    padding-bottom: 150px;
    gap: 100px;
    min-height: 0;
}

.hero{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.leftHero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.heroTitle{
    font-size: 48px;
}

.heroText, .links{
    font-size: 18px;
}

.heroText{
    padding: 10px 0 20px 0;
}

.signup, .white-signup {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
    padding: 6px 25px;
    color: #f9faf8;
    font-weight: 600;
    font-size: 16px;
}

.signup:hover, .white-signup:hover{
    background-color: #5695fa;
}

/* Cards */

.cardBox{
    display: flex;
    justify-content: center;
}

.cardBoxContent{
    width: 800px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 100px 0;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.rectangle{
    width: 100px;
    height: 100px;
    border: solid #3882f6 2px;
    border-radius: 10px;
}

.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardText{
    padding-top: 20px;
}

/* Quote */

.quoteBox{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.quoteBoxContent{
    font-size: 24px;
    font-style: italic;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.quote{
    align-self: flex-start;
}

.author{
    align-self: flex-end;
    font-weight: 600;
    font-style: normal;
}

/* Call to action */

.cta{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.ctaContent{
    display: flex;
    justify-content: space-between;
    width: 800px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #f9faf8;
    padding: 40px 80px;
    align-items: center;
}

.white-signup{
    border: 1px solid white;
}


/* Footer */

.footer{
    margin-top: auto;
    background-color: #1f2937;
    color: white;
    padding: 50px 0;
}