body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 900px;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 600;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}