html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

h1 {
    margin-block: 0px;
}

/* Container */

.headerContent, .cardBoxContent, .quoteBoxContent, .ctaContent, .footerContent{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/* Header */

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 600;
    font-size: 24px;
}

.links {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.hero img{
    width: 350px;
    height: 100%;
    background: grey;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}

.headerContent{
    display: flex;
    flex-direction: column;
    width: 900px;
    justify-content: center;
    margin: auto;
    margin-top: auto;
    padding-bottom: 150px;
    gap: 100px;
    height: 100%;
}

.hero{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.leftHero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.heroTitle{
    font-size: 48px;
}

.heroText, .links{
    font-size: 18px;
}

.signup {
    background-color: #3882f6;
    border-radius: 5px;
    border: 0px;
    padding: 6px 25px;
    color: #f9faf8;
    font-weight: 600;
    font-size: 16px;
}

.signup:hover{
    background-color: #5695fa;
}

/* Cards */

.cardBox{
}

.cardBoxContent{
    width: 900px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.cards{
    display: flex;
    justify-content: space-between;
}

.rectangle{
    width: 100px;
    height: 100px;
    border: solid #3882f6 2px;
    border-radius: 10px;
}

.card{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




/* Footer */

.footer{
    margin-top: auto;
}